@page
@using Models.Orders
@model ShowModel
@{
    ViewData["Title"] = "View Order";
}

<h2>View Order</h2>

<p>Order total: $@Html.DisplayFor(m => m.Order.Total)</p>
<p>@Html.DisplayFor(m => m.Order.Status)</p>
<p>@Html.DisplayFor(m => m.Order.Customer.FirstName)</p>
<p>@Html.DisplayFor(m => m.Order.Customer.MiddleName)</p>
<p>@Html.DisplayFor(m => m.Order.Customer.LastName)</p>


@if (Model.Order.Status != Status.Approved)
{
    <form asp-controller="Order" asp-action="Approve" asp-route-id="@Model.Order.Id" method="post">
        <input type="submit" value="Approve"/>
    </form>
}

@foreach (var orderItem in Model.Order.Items)
{
    <p>@orderItem.ProductName</p>
}